@import "tailwindcss";

/* Cara manual yang paling stabil di v4 */
:root {
  --background: #f9fafb; /* gray-50 */
  --text-main: #1f2937; /* gray-800 */
}

.dark {
  --background: #111827; /* gray-900 */
  --text-main: #f9fafb; /* gray-50 */
}

body {
  background-color: var(--background);
  color: var(--text-main);
  transition: background-color 0.3s, color 0.3s;
}