@import "tailwindcss";

:root {
  --background: #f9fafb;
  --card-bg: #ffffff;
  --text-main: #1f2937;
  --border-color: #e5e7eb;
}

.dark {
  --background: #111827;
  --card-bg: #1f2937;
  --text-main: #f9fafb;
  --border-color: #374151;
}

body {
  background-color: var(--background);
  color: var(--text-main);
  transition: background-color 0.3s, color 0.3s;
}